<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Agenda</title>
</head>

<body>
    <div id="site">

        <h1><a href="/">SISTEMA</a></h1>
        <div id="menu">
            <ul>
                <li><a href="/form">Inserir</a></li>
                <li><a href="/consulta">Consultar</a></li>
                <li><a href="/apagar">Apagar</a></li>
            </ul>
        </div>

        {{{body}}}
    </div>
</body>

</html>