<h1>Agenda</h1>
<table>
    <tr>
        <td><b>Id</b></td>
        <td><b>Nome</b></td>
        <td><b>Telefone</b></td>
    </tr>
    {{#each tudo}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{telefone}}</td>
    </tr>
    {{/each}}
</table><br>
<hr>
<a class="botao" href="/">Voltar</a>