<h1>Agenda</h1>
<table>
    <tr>
        <th><b>Id</b></th>
        <th class="coluna"><b>Nome</b></th>
        <th class="coluna"><b>Telefone</b></th class="coluna">
    </tr>
    {{#each tudo}}
    <tr>
        <td>{{id}}</td>
        <td class="coluna">{{nome}}</td class="coluna">
        <td class="coluna">{{telefone}}</td class="coluna">
    </tr>
    {{/each}}
</table><br>
<hr>
<a class="botao" href="/">Voltar</a>