<fieldset><legend><h1>Cadastro</h1></legend>
    <form action="/inserir" method="POST">
        <input type="text" name="nome" placeholder="Nome"><br><br>
        <input type="text" name="telefone" placeholder="Telefone"><br><br><br>
        <button type="submit">Cadastrar</button><br>
    </form>
</fieldset>
<br>
<hr>