body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}

h1 {
    text-align: center;
}

h1.del {
    color: #f00;
}

#site,
table,
form,
fieldset,
#menu,
ul,
p.home,
img.home {
    display: block;
    position: relative;
    margin: 0 auto;
}

#site {
    width: 900px;
    background-color: #fff;
    min-height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 a{text-decoration: none;color: #606060;}
p.home{width: 200px;margin-top: 40px;font-weight: bold;font-size: 20px;}
img.home{width: 300px;}

fieldset {
    width: 300px;
    text-align: center;
}

table {
    width: 410px;
    border-spacing: 0px;
    margin-left: 250px;
}

td,
th {
    border: 1px solid #000;
}

td.coluna,
th.coluna {
    width: 200px;
}

th {
    color: #fff;
    background-color: #aaa;
}

table tr.del {
    cursor: pointer;
}

table tr.del:hover {
    background-color: #aaa;
    color: #fff;
}

#menu {
    padding-top: 10px;
    width: 500px;
    height: 42px;
}
ul {
    list-style: none;
}

li {
    float: left;
    margin-left: 30px;
}
li a {
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100px;
    height: 20px;
    text-decoration: none;
    padding: 5px;
    background-color: #ddd;
    color: #000;
}

li a:hover {
    color: #fff;
    background-color: #aaa;
}